body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html,
body
{
  margin: 0;
  padding: 0;
}

#mapNode {
  overflow: hidden;
}

h1, p {
  font-family: Lato;
}
.App,#root  {
  height: 100%;
  width: 100%
}
#dock_div1 {
  overflow: hidden;
  height: calc(100% - 50px);
width: calc(100%); top: 50px; left: 0; position: absolute
}
.panel-element-content-container{
  pointer-events: all;
}

.dock-container, .dockspan-tab-host  {
  left: 0;
  width: 100%;
  overflow: hidden;
}
.dockspan-tab-host {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  position: absolute
}
.document-manager > .dockspan-tab-host {
  flex-direction:column
}
.dockspan-tab-handle {
  color:#FFF;
}
.dockspan-tab-handle-text  {
  margin-top: 0 !important
}

.dock-top .dock-bar {
  padding: 0 10px;
}
.my-panel-extra-btn {
  padding-left: 5px;
  padding-top: 4px;
  display: inline-block;
  cursor: pointer;
}
.dock-box.dock-hbox .dock-extra-content{
  display: none
}
